# NPM Ignore

# ignore everything
*

# ... but these files
!/package.json
!/README.md
!/LICENSE
!/dist-esm/**
!/typings/**
!/browser/**
!/src/JavaScriptSDK.Enums/**
!/src/JavaScriptSDK.Interfaces/**
!/src/JavaScriptSDK/**
